.overlay {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    transition: visibility .5s, opacity .5s ease-in;
    background-color: rbga(0, 0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}