.item {
    display: grid;
    justify-content: center;
    position: relative;
}

.price {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 9px;
    justify-content: center;
}

.subtitle {
    min-height: 48px;
    text-align: center;
}